<style>
  .cardList {
    display: flex;
    flex-direction: row;
    background-color: aqua;
  }

  /* Row gap */
  .cardList > *:not(:last-child) {
    margin-bottom: 32px;
  }
  /* .cardList > app-card {
    margin-bottom: 32px;
  } */
</style>
<h1>Using Flex-Box</h1>
<div class="cardList">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
</div>
<h1>Using Angular Flex-Layout</h1>
<div fxLayout="column" fxLayoutGap="32px" style="background-color: aqua;">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
</div>

<div
  fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start"
>
  <ng-container *ngFor="let _ of [1,2,3,4,5,6]">
    <app-card fxFlex="0 1 calc(33.3% - 32px)"></app-card>
  </ng-container>
  
</div>

<div 
  fxLayout="row wrap"
  fxLaout.lt-sm="column"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start">
  
  <ng-container *ngFor="let _ of [1,2,3,4,5,6]">
    <app-card
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
    ></app-card
    >
  </ng-container>
  
</div>